body {
    font-family: "Roboto";
    background-color: #fff7f3;
    /*background-color: black;*/
    color: #21263a;
}

#controls {
    display: inline-flex;;
    position: relative;
    margin: 1em;
}

.tempo {
    display: block;
    margin-top: 1em;
}

#timer {
    background-color: blue;
    height: 20px;
    width: 20px;
}

#bpm {
    position: relative;
    float: left;
    right: 1em;
}

#showTempo {
    margin: 1em;
}

.waveform-select {
    margin: 1em;
}

#play-button {
    margin: 1em;
}

#stop-button {
    margin: 1em;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    margin: 1em;
    margin-bottom: 0.2em;
    width: 100%;
}

.pitch-select-container {
    display:flex;
    padding: 10px;
    align-items: center;
}

.box {
    border-radius: 25px;
    padding: 20px;
    width: 30px;
    height: 30px;
    margin:0.3em;
    margin-top:0.2em;
}

/* .circle { */
/*     width: 100px; */
/*     height: 100px; */
/*     cx: 50px; */
/*     cy: 50px; */
/*     r: 40px; */
/*     fill: "crimson"; */
/*     stroke: "skyblue"; */
/*     stroke-width: 10; */
/*     margin: 0.3em; */
/*     margin-top: 0.2em; */
/* } */

.note-picker {
    padding: 6.7px;
    margin: 0.3em;
    margin-top: 0.3em;
}

.slider-ctrl {
    display: inline-flex;
    align-items: center;
}

#delay {
    display: flex;
    margin:1em;
}

.delay-container {
    display: flex;
    margin: 1em;
    width: 100%;
    position: relative;
}

.ampEnv-container {
    display: flex;
    margin: 1em;
    width: 100%;
    position: relative;
}

#amp-envelope {
    display: flex;
    margin: 1em;
}

.filterEnv-container {
    display: flex;
    margin: 1em;
    width: 100%;
    position: relative;
}

#filter-envelope {
    display:flex;
    margin: 1em;
}

.slider {
    width: 20em;
}

.svg-box {
  padding: 20px;
  margin:0.3em;
  margin-top:0.2em;
  width: 30px;
  height: 30px;
}
