body {
  font-family: "Roboto";
  background-color: #fff7f3;
  /*background-color: black;*/
  color: #21263a;
}

#controls {
  display: inline-flex;;
  position: relative;
  margin:1em;
}

.tempo {
  display: block;
  margin-top: 1em;
}

#timer {
  background-color: blue;
  height: 20px;
  width: 20px;
}

#bpm {
  position: relative;
  float: left;
  right: 1em;
}

#showTempo {
  margin: 1em;
}

#waveform-select {
  margin: 1em;
}

#play-button {
  margin: 1em;
}

#stop-button {
  margin: 1em;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  margin: 1em;
  margin-bottom: 0.2em;
  width: 100%;
}

.pitch-select-container {
  display:flex;
  padding: 10px;
  align-items: center;
}

.box {
    border-radius: 25px;
    padding: 20px;
    width: 30px;
    height: 30px;
    margin:0.3em;
    margin-top:0.2em;
}

.note-picker {
  padding: 6.7px;
  margin: 0.3em;
  margin-top: 0.3em;
}

#delay {
    margin:1em;
}

.delay-container {
  margin: 1em;
  width: 100%;
  position: relative;
}

.ampEnv-container {
    margin: 1em;
    width: 100%;
    position: flex;
}

#amp-envelope {
    margin: 1em;
}

.filterEnv-container {
    margin: 1em;
    width: 100%;
    position: flex;
}

#filter-envelope {
    margin: 1em;
}

.slider {
  width: 20em;
}






