body {
    font-family: "Roboto";
    /* background-color: #fff7f3; */
    background-color: white;
    color: #21263a;
}

#controls {
    display: flex;;
    position: relative;
    margin: 1em;
    justify-content: center;
}

.tempo {
    display: block;
    margin-top: 1em;
}

#timer {
    background-color: blue;
    height: 20px;
    width: 20px;
}

#bpm {
    position: relative;
    float: left;
    right: 1em;
}

#showTempo {
    margin: 1em;
}

.waveform {
    margin: 1em;
}

#play-button {
    margin: 1em;
}

#stop-button {
    margin: 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    margin: 1em;
    margin-bottom: 0.2em;
}

.pitch-select-container {
    display:flex;
    padding: 10px;
    margin: 1em;
    align-items: center;
}

.box {
    background-color: gray;
    border-radius: 5px;
    padding: 20px;
    width: 10px;
    height: 10px;
    margin:0.7em;
    margin-top:0.2em;
}

.note-picker {
    padding: 6.7px;
    margin: 0.6em;
    margin-top: 0.3em;
}

.slider-ctrl {
    display: flex;
    justify-content: center;
    align-items: center;
}

#delay {
    display: flex;
    margin:1em;
}

.delay-container {
    display: flex;
    margin: 1em;
    width: 100%;
    position: relative;
}

.ampEnv-container {
    display: flex;
    margin: 1em;
    width: 100%;
    position: relative;
}

#amp-envelope {
    display: flex;
    margin: 1em;
}

.filterEnv-container {
    display: flex;
    margin: 1em;
    width: 100%;
    position: relative;
}

#filter-envelope {
    display:flex;
    margin: 1em;
}

.slider {
    width: 20em;
}

/* .jelly-container { */
/*     width: 100%; */
/*     position: relative; */
/*     height: 500px ; */
/*     overflow: hidden; */
/*     background: linear-gradient(to bottom, rgba(0, 141, 210, 0.63) 0%, rgba(0, 0, 0, 0) 100% ); */
/* } */


/*
bubble animations
*/
div[class^="bubble-"] {
    height: 1px;
    width: 1px;
    position: absolute;
    background-color: rgba(0, 141, 210, 0.3);
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
}

div[class^="bubble-"]:after {
    content: '';
    position: absolute;
    height: 85%;
    width: 85%;
    border-top: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 50%;
    left: 50%;
    top: 20%;
    -webkit-transform: translate3d(-50%, 50%, 0) rotateZ(-45deg);
}

.bubble-2 {
    bottom: 2px;
    left: 48%;
    -webkit-animation: bubble-movement 2s infinite ease-in -1s;
}

@-webkit-keyframes bubble-movement {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0);
        height: 10px;
        width: 10px;
    }
    100% {
        -webkit-transform: translate3d(-50%, -50px, 0);
        height: 75px;
        width: 75px;
    }
}

#anim.enable
{
    animation: flash 1s ease 3;
}

@keyframes flash {
    50% { opacity: 0; }
}

#anim {
    height: 20px;
    width: 20px;
    background-color: red;    
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

#anim:hover {
    transform:rotate(180deg);
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 40px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.waveform-select {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 70px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

.waveform-select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.waveform-select select:focus {
    outline: none;
}



